@import "node_modules/materialize-css/sass/materialize";
@import "space";

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#chat-talk {
    @extend .collection;
    li {
        @extend .collection-item;
    }
}

#shogi-board {
    .cell {
        width: 11.11%;
        height: 80px;
        float: left;
        text-align: center;
        border: 1px grey solid;
        margin: -1px 0 0 -1px;
        padding: 10px 0 10px 0;
    }

    .downward {
        transform: rotateX(180deg);
    }
}

.piece-stock {
    @extend .clearfix;
    min-height: 100px;
    .piece {
        float: left;
    }
}

.piece {
    img {
        width: 48px;
        height: 56px;
    }
}
