<!DOCTYPE html>
<html>
<head>
    <title>Socket.IO - {% block title %}{% endblock %}</title>
    {% include 'parts/head.twig' %}
    {% block head %}{% endblock %}
</head>
<body>

{% include 'parts/nav.twig' %}

<div class="container">
    {% block container %}{% endblock %}
    {% include 'parts/footer.twig' %}
</div>

{% include 'parts/scripts.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>
