<div class="navbar-fixed">
    <nav class="blue darken-3" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Socket.IO Samples</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Chat</a></li>
                <li><a href="/shogi">将棋</a></li>
            </ul>
        </div>
    </nav>
</div>
